#panel {
    margin: 0 auto;
    padding: 30px;
    width: 600px;
    background-color: #eee;
}
#todo-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#todo-list li {
    padding: 10px;
    display: flex;
}
#todo-list li:hover {
    background-color: #f8f8f8;
}
#todo-list .checkbox {
    margin-right: 10px;
    background-color: #aaa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
#todo-list li.complete .checkbox {
    background-color: #777;
}
#todo-list .content {
    flex: 1;
}
#todo-list li.complete .content {
    text-decoration: line-through;
}
#todo-list .action > * {
    padding: 0 10px;
    cursor: pointer;
}
.hide {
    display: none;
}